@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.container .portfolio-page,
h1 {
    font-size: 53px;
    font-family: "Coolvetica";
    color: #45cef7;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
}

.myProfile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 15px;
    /* Add gap between containers */
}

.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* Arrange links in row-wise manner */
    width: 40%;
    padding: 20px;
    background-color: #f0f0f0;
    /* Change background color to light grey */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 3.5rem;
    /* Increase icon size */
    margin: 10px;
    color: #4d4d4e;
    transition: color 0.3s ease;
    gap: 8px;
}

.icon:hover {
    color: #0073b1;
    /* Change to desired hover color */
}

.linkedin:hover {
    color: #0077b5;
}

.instagram:hover {
    color: #e4405f;
}

.twitter:hover {
    color: #1da1f2;
}

.codechef svg {
    width: 3rem;
}

.leetcode svg,
.hackerrank svg,
.forces svg,
.gfg svg,
.github,
.cn {
    width: 2.5rem;
    /* Increase icon size */
    height: 2.5rem;
    /* Increase icon size */
    fill: #4d4d4e;
    transition: fill 0.3s ease;
}

.leetcode:hover svg {
    fill: #ffa116;
}

.codechef:hover svg {
    fill: #5b4638;
}

.hackerrank:hover svg {
    fill: #2EC866;
}

.github:hover {
    color: #333;
}

.codeforces:hover svg {
    fill: #1f8acb;
}

.gfg:hover svg {
    fill: #2f8d46;
}

.heading {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #1da1f2;
}